<div class="row mt-3">
    <div class="col-7">
        <% include experience.ejs %>
    </div>
    <div class="col-5">
        <% include project.ejs %>
        <% include skill.ejs %>
        <% include education.ejs %>
        <% include certificates.ejs %>
    </div>
</div>
